fastapi >= 0.98.0
uvicorn[standard]
florapi @ https://github.com/ichard26/florapi/archive/main.zip

# For user authentication.
python-multipart
passlib[bcrypt]

# For logging (mhmm).
click >= 8.0.0

# TIP : to optimize production environments, uninstall these packages:
#     | watchfiles PyYAML websockets
