fastapi >= 0.98.0
uvicorn[standard]
florapi @ https://github.com/ichard26/florapi/archive/main.zip
typing-extensions >= 4.5.0
pydantic < 2.0.0
python-ulid >= 2.2.0

# For user authentication.
python-multipart
passlib[bcrypt]

# For logging (mhmm).
click >= 8.0.0

# TIP : to optimize production environments, uninstall these packages:
#     | watchfiles PyYAML websockets
